/*
STYLESHEET FOR JAVAFXGRAPH VISUALIZATION
*/

.graph {
    -fx-background-color: #ffffff;    
}

.vertex {
    -fx-stroke-width: 3;
    -fx-stroke: #45597e;
    -fx-stroke-type: inside; /* you should keep this if using arrows */
    -fx-fill: #96d1cd;
}

.vertex-label {
    -fx-font: bold 10pt "sans-serif";
    -fx-fill: #45597e;
}

.edge {
    -fx-stroke-width: 2;
    -fx-stroke: #45597e;  
    /*-fx-stroke-dash-array: 2 5 2 5; /* remove for clean edges */  
    -fx-fill: transparent; /*important for curved edges */
    -fx-stroke-line-cap: round;
    -fx-opacity: 0.8;
}
.usingedge {
    -fx-stroke-width: 2;
    -fx-stroke: #45597e;  
    /*-fx-stroke-dash-array: 2 5 2 5; /* remove for clean edges */  
    -fx-fill: transparent; /*important for curved edges */
    -fx-stroke-line-cap: round;
    -fx-opacity: 0.8;
}

.edge-label {
    -fx-font: normal 5pt "sans-serif";
}

.arrow {
    -fx-stroke-width: 2;
    -fx-stroke: #45597e;  
    -fx-opacity: 0.8;
}

.myVertex {
    -fx-stroke-width: 5;
    -fx-stroke: green;
    -fx-stroke-type: inside; /* you should keep this if using arrows */
    -fx-fill: yellowgreen;
}