.button {
	-fx-font-size: 16;
	-fx-cursor: hand;
}

.rootMain {
	-fx-background-color: rgb(40, 42, 54);
}

.graphView {
	-fx-border-color: blue;
	-fx-border-width: 0px;
	-fx-background-color: rgb(52, 55, 70);
}

.buttonArea {
	-fx-background-color: rgb(52, 55, 70);
	-fx-border-color: blue;
	-fx-border-width: 0px;
}

.buttonOfButtonArea {
	-fx-background-color: rgb(52, 55, 70);
}

.labelOfButtonArea {
	/* -fx-text-fill: #8addf2; */
	-fx-text-fill: #6a9955;
	-fx-font-style: italic;
}

.btnHome {
	-fx-background-image: url("homeDark.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 70.0%;
}

.btnHomeEntered {
	-fx-background-image: url("homeEntered.png");
}

.btnInput {
	-fx-background-image: url("inputDark.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 70.0%;
}

.btnInputEntered {
	-fx-background-image: url("inputEntered.png");
}

.btnCaptureGP {
	-fx-background-image: url("saveDark.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 70.0%;
}

.btnCaptureGPEntered {
	-fx-background-image: url("saveEntered.png");
}

.btnPla {
	-fx-background-image: url("placementDark.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 70.0%;
}

.btnPlaEntered {
	-fx-background-image: url("placementEntered.png");
}

.btnPathFinding {
	-fx-background-image: url("pathFindingDark.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 70.0%;
}

.btnPathFindingEntered {
	-fx-background-image: url("pathFindingEntered.png");
}

.ColoringButton {
	-fx-background-image: url("colorDark.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 70.0%;
}

.ColoringButtonEntered {
	-fx-background-image: url("colorEntered.png");
}

.InfoButton {
	-fx-background-image: url("infoDark.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 70.0%;
}
.InfoButtonEntered {
	-fx-background-image: url("infoEntered.png");
}

.BackButton {
	-fx-background-image: url("backDark.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 70.0%;
	-fx-background-color:  rgb(40, 42, 54);
}
.BackButtonEntered {
	-fx-background-image: url("backEntered.png");
}


.Col1ChooseButton{
	-fx-alignment: center-left;
	-fx-background-color:  rgb(40, 42, 54);
	-fx-text-fill: #9aa8d4;
	-fx-pref-height: 30;
    -fx-pref-width: 245;
	-fx-padding: 10 0.0 10 10 ;
}
.Col1ChooseButtonEntered{
	-fx-text-fill: white;
}


.lbStartVerTexFS{
	-fx-text-fill: #9aa8d4;
	-fx-font-size: 20;
	-fx-padding: 0 0 10 10 ;
	
}

.tfStartVertexFS{
	-fx-max-width: 210;
	-fx-pref-height: 30;
	-fx-font-size: 16;
	-fx-font-style: italic;
}

.FSFinishStep{
	-fx-alignment: center-left;
	-fx-background-color:  rgb(40, 42, 54);
	-fx-text-fill: #9aa8d4;
	-fx-pref-height: 30;
    -fx-pref-width: 245;
	-fx-padding: 30 0.0 0 10 ;
}
.FSFinishStepEntered{
	-fx-text-fill: white;
}

.FSNextReset{
	-fx-alignment: center;
	-fx-background-color:  rgb(40, 42, 54);
	-fx-text-fill: #9aa8d4;
	-fx-pref-height: 30;
    -fx-pref-width: 100;
    -fx-border-color: blue;
	-fx-border-width: 0px;
	-fx-background-color: rgb(52, 55, 70);
		-fx-border-color: #9e5b8b;
	-fx-border-width: 1px;
}

.FSNextResetEntered{
	-fx-text-fill: white;
	-fx-background-color: #3c3d51;

}
.nexResBox{
	-fx-pref-height: 30;
    -fx-pref-width: 245;
    -fx-alignment: center ;
    -fx-padding: 30 0.0 0 10 ;
}

