.button {
	-fx-font-size: 16;
	-fx-cursor: hand;
}

.rootMain {
	-fx-background-color: rgb(40, 42, 54);
}

.graphPane {
	-fx-background-color: rgb(52, 55, 70);
	-fx-border-color: red;
	-fx-border-width: 0px;
}

.graphView {
	-fx-border-color: #9aa8d4;
	-fx-border-width: 0px;
	-fx-background-color: rgb(52, 55, 70);
	-fx-border-style: segments(10, 15, 15, 15) line-cap round;
}

.buttonArea {
	-fx-background-color: rgb(52, 55, 70);
	-fx-border-color: blue;
	-fx-border-width: 0px;
}

.buttonOfButtonArea {
	-fx-background-color: rgb(52, 55, 70);
}

.labelOfButtonArea {
	/* -fx-text-fill: #8addf2; */
	-fx-text-fill: #6a9955;
	-fx-font-style: italic;
	-fx-font-size: 15;
}

.btnHome {
	-fx-background-image: url("homeDark.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 70.0%;
}

.btnHomeEntered {
	-fx-background-image: url("homeEntered.png");
	-fx-background-color: #3c3d51;
}

.btnInput {
	-fx-background-image: url("inputDark.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 70.0%;
}

.btnInputEntered {
	-fx-background-image: url("inputEntered.png");
	-fx-background-color: #3c3d51;
	
}

.btnCaptureGP {
	-fx-background-image: url("saveDark.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 70.0%;
}

.btnCaptureGPEntered {
	-fx-background-image: url("saveEntered.png");
	-fx-background-color: #3c3d51;
}

.FindingButton {
	-fx-background-image: url("searchDark.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 70.0%;
}

.FindingButtonEntered {
	-fx-background-image: url("searchEntered.png");
	-fx-background-color: #3c3d51;
}

.btnPla {
	-fx-background-image: url("placementDark.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 70.0%;
}

.btnPlaEntered {
	-fx-background-image: url("placementEntered.png");
	-fx-background-color: #3c3d51;
}

.btnPathFinding {
	-fx-background-image: url("pathFindingDark.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 70.0%;
}

.btnPathFindingEntered {
	-fx-background-image: url("pathFindingEntered.png");
	-fx-background-color: #3c3d51;
}

.ColoringButton {
	-fx-background-image: url("colorDark.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 70.0%;
}

.ColoringButtonEntered {
	-fx-background-image: url("colorEntered.png");
	-fx-background-color: #3c3d51;
}

.InfoButton {
	-fx-background-image: url("infoDark.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 70.0%;
}

.InfoButtonEntered {
	-fx-background-image: url("infoEntered.png");
	-fx-background-color: #3c3d51;
}

.BackButton {
	-fx-background-image: url("backDark.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 70.0%;
	-fx-background-color: rgb(40, 42, 54);
}

.BackButtonEntered {
	-fx-background-image: url("backEntered.png");
}

.Col1ChooseButton {
	-fx-alignment: center-left;
	-fx-background-color: rgb(40, 42, 54);
	-fx-text-fill: #9aa8d4;
	-fx-pref-height: 30;
	-fx-pref-width: 245;
	-fx-padding: 10 0.0 10 10;
}

.Col1ChooseButtonEntered {
	-fx-text-fill: white;
}

.lbStartVerTexFS {
	-fx-text-fill: #9aa8d4;
	-fx-font-size: 20;
	-fx-padding: 0 0 0 10;
}

.tfStartVertexFS {
	-fx-max-width: 210;
	-fx-pref-height: 30;
	-fx-font-size: 16;
	-fx-font-style: italic;
}

.FSFinishStep {
	-fx-alignment: center-left;
	-fx-background-color: rgb(40, 42, 54);
	-fx-text-fill: #9aa8d4;
	-fx-pref-height: 30;
	-fx-pref-width: 245;
	-fx-padding: 0 0.0 0 10;
}

.FSFinishStepEntered {
	-fx-text-fill: white;
}

.FSNextReset {
	-fx-alignment: center;
	-fx-background-color: rgb(40, 42, 54);
	-fx-text-fill: #9aa8d4;
	-fx-pref-height: 30;
	-fx-pref-width: 80;
	-fx-background-color: rgb(52, 55, 70);
	-fx-border-color: #425578;
	-fx-border-width: 2px;
}

.FSNextResetEntered {
	-fx-text-fill: white;
	-fx-background-color: #3c3d51;
}

.nexResBox {
	-fx-pref-height: 30;
	-fx-pref-width: 245;
	-fx-alignment: center;
	-fx-padding: 0 0.0 0 10;
}

.FSlb {
	-fx-text-fill: white;
	-fx-underline: true;
	-fx-font-style: italic;
	-fx-font-size: 18;
	-fx-padding: 0 0 0 28;
}

.likeNexResBox {
	-fx-pref-height: 30;
	-fx-pref-width: 245;
	-fx-alignment: center-left;
	-fx-padding: 0 0.0 0 10;
}

.showScaleBut11 {
	-fx-background-color: rgb(52, 55, 70);
	-fx-background-image: url("zoom11Dark.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 70.0%;
}

.showScaleBut11Entered {
	-fx-background-image: url("zoom11Enter.png");
}

.showScaleButIn {
	-fx-background-image: url("zoomInDark.png");
}

.showScaleButInEntered {
	-fx-background-image: url("zoomInEnter.png");
	-fx-background-color: rgb(52, 55, 70);
}

.showScaleButOut {
	-fx-background-image: url("zoomOutDark.png");
	-fx-background-color: rgb(52, 55, 70);
}

.showScaleButOutEntered {
	-fx-background-image: url("zoomOutEnter.png");
	-fx-background-color: rgb(52, 55, 70);
}

.txtScale {
	-fx-font-size: 18;
	-fx-cursor: default;
	-fx-pref-height: 50;
	-fx-pref-width: 80;
	-fx-alignment: center;
}

.borderMap{
	-fx-border-color: #9aa8d4;
	-fx-border-width: 3px;
	
}

.minimizeMapBut{
	-fx-text-fill: #9aa8d4;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 90.0%;
	-fx-background-color: rgb(52, 55, 70);
	-fx-background-image: url("minimizeDark.png");
}

.minimizeMapButEnter{
	-fx-background-image: url("minimizeEntered.png");
}

.mapButton{
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 70.0%;
	-fx-background-color: rgb(52, 55, 70);
	-fx-background-image: url("mapDark.png");
}
.mapButtonEnter{
		-fx-background-image: url("mapEntered.png");
	
}

/* .graphTab{
	-fx-background-color: red;    
	-fx-alignment: CENTER;
	-fx-text-fill: red;
}

.tabPane{
	-fx-tab-min-height: 30;
	-fx-tab-max-height: 30;
	-fx-tab-background-color: red;
	
} */

/* .graphTab{
    -fx-background-insets: 0 1 0 1,0,0;

}
.tabPane{
	-fx-tab-min-width:90px;

}

.tabPane .graphTab{
	-fx-background-color: #e6e6e6;
}
.tabPane .graphTab:selected{
	-fx-background-color: #3c3c3c;
} */

.tab-pane .tab-header-area .tab-header-background {
    /* -fx-opacity: 0; */
	/* -fx-background-color: #2a2c3d; */
	-fx-background-color: #1d1e2b;
	/* -fx-background-color: #64485f; */

}

.tab-pane
{
    -fx-tab-min-width: 150px;
	/* -fx-border-style: solid solid none solid; */
    -fx-border-width: 0 0 0 0.5;
    /* -fx-border-color: #56354f; */
	-fx-border-color: #8ce9fd;
}

.tab{
    /* -fx-background-insets: 0 1 0 1,0,0; */
}
.tab-pane .tab
{
    -fx-background-color: rgb(40, 42, 54);
	/* -fx-background-color: red; */

}

.tab-pane .tab:selected
{
    -fx-background-color: rgb(52, 55, 70);
}

.tab .label { 
    -fx-alignment: center;
    -fx-text-fill: #9aa8d4;
    /* -fx-text-fill: #4e5f90; */
    -fx-font-size: 18px;
    /* -fx-font-weight: bold; */
}

.tab:selected .label { 
    -fx-alignment: CENTER;
    /* -fx-text-fill: #96b946; */
    -fx-text-fill: #e2e4ec;

}
/* 
.tab .tab-label {
	-fx-text-fill: white;
} */

.addGraphTabBut{
	-fx-max-width: 30px;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 5 10 0 0; /* overridden as 5 2 0 0 */
}
/* .tab-pane:first{
	    -fx-tab-min-width: 300px;
	
} */
