.graphView {
    -fx-border-color: blue;
    -fx-border-width: 0px;
    -fx-background-color: rgb(52, 55, 70);
}

.rootMain {
    -fx-background-color: rgb(40 ,42, 54)	;
}

.buttonArea {
    -fx-background-color: rgb(52, 55, 70);
}

.button {
    -fx-font-size: 16;
    -fx-cursor: hand;
}

.buttonOfButtonArea {
    -fx-background-color: rgb(52, 55, 70);
    -fx-text-fill: white;

}

.labelOfButtonArea{
	-fx-text-fill: white;
}